# Ignore .git folder (used by git CLI)
.git/

# Ignore .idea folder (used by JetBrains IDEs like PhpStorm)
.idea/

# Ignore macOS system files
.DS_Store

# Ignore .htaccess files
.htaccess

# Ignore .ftpquota file
.ftpquota

# Ignore secrets.txt
secrets.txt

